body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(images/Race\ Track\ Wall\ Mural\ Wallpaper.jpg);
    font-size: 14px;
  }
  .login-logo {
    float: left;
    width: 100px;
    margin-right: 10px;
  }
  
  @keyframes gradientAnimation {
  0% { background-position: 0% }
  100% { background-position: 100% }
}

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Menggunakan overflow: hidden agar elemen dengan sudut diagonal tidak keluar dari container */
    max-width: 400px; /* Ubah ukuran maksimum container sesuai kebutuhan */
    width: 90%; /* Menggunakan persentase agar container menyesuaikan lebar layar */
    margin: 0 auto;
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  }
  
  .login-form {
    background-color: #ffffff9d;
    border-radius: 50px 0 50px 0; /* Mengatur sudut lengkung pada sisi kiri atas dan kiri bawah */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto; /* Menengahkan container login di tengah layar */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  

  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
    margin-left: auto;
  margin-right: 0;

  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 800px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
  }

  .form-group button {
    padding: 8px;
    background-color: #00be10;
    border: none;
    color: #000000;
    cursor: pointer;
    border-radius: 3px;
    width: 100%; /* Lebar input sesuai dengan parentnya */
    margin: 0 auto;
    display: block;
  }

  .form-group button:hover {
    background-color: #d4b400;
  }


  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }

    .login-form {
      margin: 0;
      margin-bottom: 20px;
    }
  }

.form-group input[type="text"],
.form-group input[type="password"] {
  /* CSS yang ada sebelumnya */
  width: 100%; /* Lebar input sesuai dengan parentnya */
  max-width: 300px; /* Ubah ukuran maksimum input sesuai kebutuhan */
  align-content: center;
}

