body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: url(images/Race\ Track\ Wall\ Mural\ Wallpaper.jpg);
}

@keyframes gradientAnimation {
  0% { background-position: 0% }
  100% { background-position: 100% }
}

.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px 0 50px 0; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  align-items: center;
  flex-direction: column;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: 96%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex-direction: column;
  display: block;
  align-items: center;
}

.form-group button {
  width: 100%;
  padding: 8px;
  background-color: #00be10;
  border: none;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  max-width: 300px;
  margin: 0 auto;
  cursor: pointer;
  display: block;
}

.form-group button:hover {
  background-color: #d4b400;
}

p{
  text-align: center;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .registration-form {
    margin: 0;
    margin-bottom: 20px;
  }
}


